<div class="modal fade" id="aboutUsModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ABOUT US</h4>
      </div> <!-- closes modal-header -->
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Fusce at interdum sem. Morbi sagittis molestie enim egestas
          consequat. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. Fusce tincidunt velit in justo
          eleifend, id eleifend diam dignissim. Suspendisse potenti.
          Ut non maximus lacus. In facilisis, eros at sollicitudin auctor,
          orci ipsum sagittis nisl, ut pharetra ligula tortor ac lectus.
          Etiam ultrices eget tellus in tristique. Sed ullamcorper
          volutpat tellus, a commodo arcu molestie sed.
          In pellentesque iaculis ullamcorper. Sed a consectetur
          libero. Aliquam blandit, ex in congue gravida, lectus odio
          pretium sapien, a pharetra diam sapien ac lacus. Duis in libero
          elit. Phasellus elementum tempus maximus.
        </p>
        <p>
          Curabitur rhoncus lectus quis nibh ultrices blandit. Class aptent
          taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Sed gravida metus at eros tempor egestas. Mauris luctus
          consequat nunc, in tempus magna venenatis vitae. Donec mattis nisi
          lacus, in euismod libero vehicula vestibulum. Duis enim nibh,
          rutrum at ante eget, volutpat scelerisque lorem. Sed rutrum risus
          non elit varius, vitae dictum metus accumsan.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
