<div class="modal fade" id="aboutUsModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ABOUT US</h4>
      </div> <!-- closes modal-header -->
      <div class="modal-body">
        <p>
         LArk is a 2016 General Assembly project created by Sochin Ancheta, Joseph Kim, Winnie Luk, and James Tak, with project-saving
         assistance from instructors Jim Clark and Phil Lamplugh.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
