<template id="tip-info">
  <div class="form-field text-primary">
    <p>Parking Type: {{parkingType}}</p>
    <p>Valid Hours:<br>
    {{#each validHours}}{{day}}: {{startTime}} to {{endTime}}<br>{{/each}}</p>
    <p>Cost: {{cost}}</p>
    <p>Maximum Time: {{maxTime}} </p>
    <p>Permit: {{permit}} </p>
    <p>Comment: {{comment.message}}</p>
  </div>
  <% if (user) { %>
    <div class="form-inline">
      <button type="submit" class="btn btn-warning btn-sm">Edit</button>
      <button type="submit" class="btn btn-danger btn-sm">Flag</button>
    </div>
  <% } %>
</template>

