<template id="tip-info">
  <table class="table">
    <thead>
      <tr>
        <th>Parking Type</th>
        <td> {{parkingType}}
        <!-- check with Jim -- how do I get user id out of sockets !-->
        <% if (user) { %>
          <button id="flag-button"><span class="glyphicon glyphicon-flag" aria-hidden="true" data-id="{{_id}}"></span></button></td>
        <% } %>
      </tr>
      <tr>
        <th id="valid-hours">Valid Hours</th>
        <td>{{#each validHours}}{{day}}: {{startTime}} to {{endTime}}<br>{{/each}}</p></td>
      </tr>
      <tr>
        <th>Cost</th>
        <td> {{cost}} </td>
      </tr>
      <tr>
        <th>Maximum Time</th>
        <td>{{maxTime}}</td>
      </tr>
      <tr>
        <th>Permit</th>
        <td>{{permit}}</td>
      </tr>
      <tr>
        <th>Comment</th>
        <td>{{comment.message}}</td>
      </tr>
    </thead>
  </table>
  <% if (user) { %>
    <div class="form-inline">
      <button type="submit" class="btn btn-warning btn-sm">Edit</button>
    </div>
  <% } %>
</template>

