<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <% include ../welcome %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a data-toggle="modal" data-container="body" type="button" data-html="true" href="#" data-target="#instructionModal"><span class="icon-bar"></span>INSTRUCTIONS</a></li>
          <% include ./instructions %>
        <li><a data-toggle="modal" data-container="body" type="button" data-html="true" href="#" data-target="#aboutUsModal">ABOUT US</a></li>
          <% include ./about-us %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if (user) { %>
            <a id="log-out" href="/logout">LOG OUT</a>
          <% } else { %>
            <button id="googleBtn" class="btn btn-block btn-social btn-google">
              <a id="log-in" href="/auth/google"><i class="fa fa-google"></i> &nbspSign in with Google</a>
            </button>
          <% } %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
