<nav>
  <div id="top-bar">
    <% include ../welcome %>
    <div id="about-us">
      <ul class="list-unstyled">
        <li><a data-toggle="modal" data-container="body" type="button" data-html="true" href="#" data-target="#instructionModal">Instructions</a></li>
        <% include ./tutorial %>
      </ul>
      <ul class="list-unstyled">
        <li><a data-toggle="modal" data-container="body" type="button" data-html="true" href="#" data-target="#aboutUsModal">ABOUT US</a></li>
        <% include ./about-us %>
      </ul>
      </div> <!-- closes container -->
        <!-- check to see if user is logged in or out -->
        <div>
            <% if (user) { %>
              <a id="log-out" href="/logout">LOG OUT</a>
            <% } else { %>
                <button id="googleBtn" class="btn btn-block btn-social btn-google">
                  <a id="log-in" href="/auth/google"><i class="fa fa-google"></i>    Sign in with Google</a>
               </button>

            <% } %>
        </div> <!-- closes log-in container -->
  </div>
</nav>
