<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>
  <body>
    <div id="topbar">
    <ul class='right'>
      <% if (user) { %>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/auth/google">Login with Google</a></li>
      <% } %>
    </ul>
        <input id="address" type="text" name="street[address]">
        &nbsp;
        <button id="getAddress">Submit</button>
    <div id="plus">+</div>
    </div>
    <div class="submit-data hidden" id="display-time">
      At what times is it alright to park here? From <input type="text" name="street[startTime]"> to <input type="text" name="street[endTime]">
    </div>
    <div id="map"></div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
    </script>
  </body>
</html>
