<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>
  <body>
    <div id="topbar">
        <input type="text" name="street[address]">
        &nbsp;
        <button>Submit</button>
    </div>
    <div id="map"></div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
    </script>
  </body>
</html>
