<div id="lark-welcome">
  <ul class="nav nav-bar">
    <li><a data-toggle="modal" data-container="body" type="button" data-html="true" href="#" data-target="#larkModal"><img class="img-responsive" src="../images/LArk_header.png" alt="LArk Logo" width="60"></a></li>
      <div class="modal fade" id="larkModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" id="modal-content">
            <div class="modal-header">
              <div class="jumbotron" id="title">
                <h1 class="animated slideInRight"><img src="  ../images/LArk_hp.png" alt="logo"></h1>
              </div>
            </div> <!-- closes modal-header -->
            <div class="modal-body">
              <div id="intro">
                <div class="page-header">
                    <h1>Los Angeles Parking Information.</h1>
                </div>
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-3">
                              <img class="img-responsive" src="../images/LArk_where.png" alt="where to park" width="120" class="img-rounded"/>
                            </div>
                            <div class="col-sm-9">
                              <h3>Know which streets to park on.</h3>
                            </div>
                          </div>
                        </div>
                      </li><br>
                      <li class="list-group-item">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-3">
                              <img class="img-responsive" src="../images/LArk_fine_01.png" alt="fines" width="120" class="img-rounded"/>
                            </div>
                            <div class="col-sm-9">
                              <h3>Know immediately which streets are free to park on which require permits and how long you can park there. </h3>
                            </div>
                          </div>
                        </div>
                      </li><br>
                      <li class="list-group-item">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-3">
                              <img class="img-responsive" src="../images/LArk_points.png" alt="fines" width="120" class="img-rounded"/>
                            </div>
                            <div class="col-sm-9">
                              <h3>Earn points by submitting information about your city.</h3>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div> <!-- close container -->
                </div> <!-- close jumbotron-fluid -->
              </div> <!-- closes intro -->
            </div> <!-- closes modal-body -->
            <div class="modal-footer">
              <% if (user) { %>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
              <% } else { %>
                <button id="googleBtn" class="btn btn-social btn-google">
                  <a id="log-in" href="/auth/google"><i class="fa fa-google"></i> &nbspSign in with Google</a>
                </button>
              <% } %>
            </div>
        </div> <!-- closes modal-content -->
      </div> <!-- modal-dialog modal-lg -->
    </div> <!-- closes modal-fade -->
  </ul> <!-- closes list-unstyled -->
</div> <!-- close id lark-welcome -->
