<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/welcome.css">
  <title>LArk</title>
</head>
<body>
<header>
   <div id="title">
    <h1>LArk</h1>
  </div>
</header>
  <div id="intro">
    <ul>
      <li>
        <img src="http://i.imgur.com/JhdS0bGt.jpg" alt="" />
        <p>See open parking spots on all surrounding streets.</p>
      </li><br>
      <li>
        <img src="http://i.imgur.com/FwjTyvxt.jpg" alt="" />
        <p>Know immediately which streets are free to park on which require permits and how long you can park there. </p>
      </li><br>
      <li>
        <img src="http://i.imgur.com/7hCGOyjt.jpg" alt="" />
        <p>Earn points by submitting information about your city.</p>
      </li>
    </ul>
  </div>
  <footer>
    <form action="/">
      <input type="submit" value="Login with Google">
    </form>
  </footer>
</body>
</html>
