#title {
  border: 1px solid black;
  text-align: center;
  background-color: rgba(61, 88, 151, 1);
  margin: auto;
}

h1 {
  text-align: center;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

ul {
  text-align: center;
}

a {
  color: white;
}

#map {
  height: 85vh;
  width: 100vw;
}

#topbar {
  height: 8vh;
  width: 100vw;
  background-color: rgba(61, 88, 151, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hidden {
  display: none;
}

.submit-data {
  background-color: rgba(61, 88, 151, 1);
  padding: 5px;
  color: white;
}

footer {
  padding: 1vw;
}



