/* font-family: 'Montserrat', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Fredoka One', cursive; */

#title {
  border: 1px solid black;
  text-align: center;
  background-color: rgba(61, 88, 151, 1);
  margin: auto;
}

h1 {
  text-align: center;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}


ul {
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: rgba(211, 211, 211, 1);
  text-decoration: none;
}

#log-in {
  padding-left: 1005px;
}

#log-out {
  padding-left: 1005px;
}

#about-us {
  width: 10vw;
}

#tip-button {
  position: absolute;
  top: 10px;
  left: 95vw;
  z-index: 99;
}

#address {
  display: inline-block;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 400px;
}

#getAddress {
  margin-right: 10vw;
}

#wrapper {
  position: relative;
}

#map {
  height: 90vh;
  width: 100vw;
}

#top-bar {
  height: 8vh;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 1); */
  background-image: url(../images/dark-blue-gradient.jpg);
  background-size: cover;
  display: flex;
  /*justify-content: center; */
  align-items: center;
}

.hidden {
  display: none;
}

.submit-data {
  background-color: rgba(61, 88, 151, 1);
  padding: 5px;
}

li {
  display: inline;
  padding: 1vw;
}

#valid-hours {
  vertical-align: top;
}

#flag-button {
  float: right;
  border: 0;
  background-color: white;
}

#flag-button:hover {
  color: red;
}
